.container {
  padding: 0 2rem;
}

.mainimage {
  min-height: 20vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn3d {
  display: block;
  position: relative;
  top: -6px;
  border: 0;
  transition: all 40ms linear;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 50%;
  height: 160px;
  width: 170px;
  transform-style: preserve-3d;
  transform: rotateX(43deg) rotateY(-7deg) rotateZ(22deg);
  color: rgb(2, 90, 222);
  font-weight: 700
}

.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
  -moz-outline-style: none;
  outline: medium none;
}

.btn3d:active,
.btn3d.active {
  top: 2px;
}

.btn3d.btn-success {
  box-shadow: 0 0 0 1px #ffb6a6 inset, 0 0 0 2px rgb(255 255 255 / 15%) inset, 12px 23px 0px 0px #b92424, 0 8px 8px 1px rgb(0 0 0 / 50%);
  background-color: #ef0000;
}

.btn3d.btn-success:active,
.btn3d.btn-success.active {
  box-shadow: 0 0 0 1px #ffa6a6 inset, 0 0 0 2px rgb(255 255 255 / 15%) inset, 4px 10px 0px 0px #b92424, 0 8px 8px 1px rgb(0 0 0 / 50%);
  background-color: #ef0000;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 625rem;
  margin-top: 4rem;
}

.main {
  min-height: 10vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.mainframe_bg {
  top: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
